{
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "flowtype"
  ],
  "extends": [
    "plugin:prettier/recommended",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0
  }
}